.table {
  width: 872px;
  height: 300px;
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border: 1px solid beige;
  border-radius: 4px;
  font-family: sans-serif;
}

.cell {
  width: 290px;
  height: 50px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #5c6975;
  font-weight: 300;
  text-align: center;
}

.head {
  height: 50px;
  width: 290px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: #00bcd4;
}
